{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'home.css' %}" />
{% endblock extra_head %}


{% block content %}
<style>.div {
  height: 20px;
  width: 50px;
}</style>
<div class="container" {% if context == 'create' %}id="regiseration-form"{% endif %}>
    <div class="row">
        <h1 id="register-title">Register Your Car</h1>
    </div>
    <div class="row">
        {% if context == 'create' %}<h3>Please Fill in Car Info:</h3>{% endif %}
        {% if context == 'edit' %}<h3>Edit Your Car:</h3>{% endif %}
    </div>
    <div class="row">
        <div class="col-sm-6">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                {% for field in form %}
                {% if field.name != 'Car_license'  and field.name != 'Driver_license' %}
                {% if forloop.counter|divisibleby:2  %}
                <div class="col-sm-6">
                    {{ field |as_crispy_field}}
                </div>
                {% else %}
                <div class="col-sm-6">
                    {{ field |as_crispy_field}}
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}


                <div class="col-sm-6">

                </div>

                <div class="col-sm-6">
                    {{ form.Driver_license |as_crispy_field}}
                </div>
                <div class="col-sm-6">
                    {{ form.Car_license |as_crispy_field}}
                </div>

                {% for field in profile_form %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-sm-6">
                    {{ field |as_crispy_field}}
                </div>
                {% else %}
                <div class="col-sm-6">
                    {{ field |as_crispy_field}}
                </div>
                {% endif %}
                {% endfor %}
				</div>
				{% if context == 'create' %} <h5>Plate Number</h5> {% endif %}
				<div class ="row">

				{% for field2 in form2 %}
				{% if field2.name == 'Number' %}
                <div >
                    {{ field2 |as_crispy_field}}
                </div>
				{% else %}
				 <div class="div">
                    {{ field2 |as_crispy_field}}
                </div>
				{% endif %}
				{% endfor %}
				</div>
                <button class="btn btn-primary" type="submit" id="register-submit">Submit</button>

            </form>

        </div>
        <div class="col-sm-6">
            <img alt="CarPool" style="width: inherit;" src="{% static '../static/images/orcar.png' %}">
        </div>
    </div>
</div>
{% endblock %}
