{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% load image_byte %}
{% block extra_head %}

<link rel="stylesheet" href="{% static 'home.css' %}" />
<link rel="stylesheet" href="{% static 'css/passengers.css' %}" />
<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="{% static '/js/passengers.js' %}" ></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>



{% endblock extra_head %}



{% block content %}


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<style>body{
background:#ffffff
}
.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.avatar-md {
    height: 5rem;
    width: 5rem;
}

.fs-19 {
    font-size: 19px;
}

.primary-link {
    color: #314047;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

a {
    color: #02af74;
    text-decoration: none;
}

.bookmark-post .favorite-icon a, .job-box.bookmark-post .favorite-icon a {
    background-color: #da3746;
    color: #fff;
    border-color: danger;
}
.favorite-icon a {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #eff0f2;
    border-radius: 6px;
    color: rgba(173,181,189,.55);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}


.candidate-list-box .favorite-icon {
    position: absolute;
    right: 22px;
    top: 22px;
}
.fs-14 {
    font-size: 14px;
}
.bg-soft-secondary {
    background-color: rgba(116,120,141,.15)!important;
    color: #74788d!important;
}

.mt-1 {
    margin-top: 0.25rem!important;
}
</style>



<script>


$( document ).ready(function() {  $(".btn").hide();	$("#nrides").hide();











											   		$('.candidate-list-box').each(function() {
														let fieldName = $(this).find('.rideid');
														let fieldVal = $(fieldName)[0].textContent;


													    $("#"+ fieldVal).show();



												{% for fieldbooked in BookedRides %}


											   {% for f in fieldbooked %}

                                          


											   var riderequested="{{f.RideRequested_id}}"
                                               var ride_status = "{{f.status}}"
                                               if (ride_status ==  1 ){ride_status = "Pending"} 
                                               else (ride_status = "Accepted")
                                              
                        
														if (riderequested == fieldVal ) {
															$("#hidden{{f.RideRequested_id}}").show();
														    $("#{{f.RideRequested_id}}").hide();
                                                            $("#status{{f.RideRequested_id}}").text(ride_status)
                                                     	}








														  {% endfor %}
														   {% endfor %}







													});







	  var theContainer = $(".candidate-list"), // You could use body if all the rows are children of body
        theRows = $(".candidate-list-box").get() // an array


        theRows = theRows.sort(function (a, b) {





                        return $(a).find(".btn:visible").text() < $(b).find(".btn:visible").text();
    });
	//console.log(theRows)
    $(".candidate-list").html(theRows);





});

function val() {
    d = document.getElementById("areas");
    c = document.getElementById("cities");

    ctext = c.options[c.selectedIndex].text;
	text = d.options[d.selectedIndex].text;
	window.location.href = '/rides/?city='+ctext+'&area='+text

    //alert(d);
};

function onChangeDate() {

    d = document.getElementById("departure_date");


	selected_date = d.value


		$('.candidate-list-box').each(function() {

		         $(this).show();
				let fieldName = $(this).find('#form_Date');
				let fieldVal = $(fieldName)[0].textContent;
                console.log(selected_date)
				console.log(fieldVal.trim())


				var new_Date =  moment(mydate).format('YYYY-MM-DD');


				if (fieldVal.trim() != selected_date) { $(this).hide()}


				if (! selected_date)  { $(this).show()}

			});


			if (!$('.candidate-list-box:visible').length) {
                $("#nrides2").hide();
			$("#nrides").show();}

			else {$("#nrides").hide();}



		d = document.getElementById("form_Date");
	    var mydate = new Date(d.textContent);
        var str =  moment(mydate).format('YYYY-MM-DD');





    //alert(d);
};

function myFunction(url) {

  if (confirm("Are you sure you want to Book This Ride ?!")) {
     window.location.href = '/reqrides/'+url;
  } else {
    txt = "You pressed Cancel!";
  }

};


function cancelFunction(url,seats) {

  if (seats == 0 ) {

  confirm("No seats available ")}

  else {

  if (confirm("Are you sure you want to cancel this ride request?!")) {
     window.location.href = '/cancelrides/'+url;
  } else {
    txt = "You pressed Cancel!";
  }
  }

};


$(document).ready(function(){
        var user_area = "{{ user_area }}";
        var user_city = "{{ user_city }}";

		var cities =  {% autoescape off %}{{ cities }}{% endautoescape %};

        var $option = $("<option>", {

text: "Choose City",

value: "Choose City",

selected: "selected"

});

$option.appendTo('#cities');


		 for(index in cities){






                var $option = $("<option>", {

                    text: cities[index],

                    value: index

                });

                $option.appendTo('#cities');



        }




		$("#cities option:contains("+user_city+")").prop("selected","selected")
        change_areas_first_reload();
        $("#areas option:contains("+user_area+")").prop("selected","selected")
    });

    var areas =  {% autoescape off %}{{ areas }}{% endautoescape %};
	var cities =  {% autoescape off %}{{ cities }}{% endautoescape %};


       function change_areas_first_reload(){

        city_id = parseInt($('#cities').val())  + parseInt(1);



        $('#areas').empty();




		        var $option = $("<option>", {

text: "All",

value: "All",

selected: ""

});

$option.appendTo('#areas');

 var $option = $("<option>", {

            text: "Choose Area",

            value: "Choose Area",

            selected: "selected"

        });

        $option.appendTo('#areas');

        for(index in areas){


            if(areas[index]["governorate_id"] == city_id ){



                var $option = $("<option>", {

                    text: areas[index]["city_name_en"],

                    value: areas[index]["id"]



                });

                $option.appendTo('#areas');

            }

        }







    };

    function change_areas(){




c = document.getElementById("cities");

ctext = c.options[c.selectedIndex].text;
if ( ctext != 'Choose City')
{
window.location.href = '/rides/?city='+ctext
}



city_id = parseInt($('#cities').val())  + parseInt(1);



$('#areas').empty();




        var $option = $("<option>", {

text: "All",

value: "All",

selected: ""

});

$option.appendTo('#areas');

var $option = $("<option>", {

    text: "Choose Area",

    value: "Choose Area",

    selected: "selected"

});

$option.appendTo('#areas');

for(index in areas){


    if(areas[index]["governorate_id"] == city_id ){



        var $option = $("<option>", {

            text: areas[index]["city_name_en"],

            value: areas[index]["id"]



        });

        $option.appendTo('#areas');

    }

}







};


    function change_areas(){




        c = document.getElementById("cities");

        ctext = c.options[c.selectedIndex].text;
        if ( ctext != 'Choose City')
        {
        window.location.href = '/rides/?city='+ctext
        }



        city_id = parseInt($('#cities').val())  + parseInt(1);



        $('#areas').empty();




		        var $option = $("<option>", {

text: "All",

value: "All",

selected: ""

});

$option.appendTo('#areas');

 var $option = $("<option>", {

            text: "Choose Area",

            value: "Choose Area",

            selected: "selected"

        });

        $option.appendTo('#areas');

        for(index in areas){


            if(areas[index]["governorate_id"] == city_id ){



                var $option = $("<option>", {

                    text: areas[index]["city_name_en"],

                    value: areas[index]["id"]



                });

                $option.appendTo('#areas');

            }

        }







    };


</script>
<title>Available Rides</title>
<section class="section">

     <form method="POST">



    <div class="container" style="padding-bottom: 15px;">

        <div class="row">

            <h1 id="register-title">Rides:</h1>
        
        </div>


			  <div class="filler-job-form" style="padding-top: 0px;">
			   <i class="uil uil-location-point"></i>


							<select name="city" onchange="change_areas()" id="cities" class="select form-control" style="width: 150px;display:inline-block;">

</select>
							<select name="area"  id="areas" class="select form-control" onchange="val()" style="width: 150px;display:inline-block;">

</select>

        <label for="departure_date">
                Date
            </label>
<input  id="departure_date" class="datepickerinput form-control" type="date" name="departure_date" style="width: 150px;display:inline-block;" onchange="onChangeDate()">
 <!--       <label for="id_leave_time">
                Pickup time
            </label>
<input  id="id_leave_time" class="timepickerinput form-control" type="time" name="leave_time" style="width: 150px;display:inline-block;">

        <label for="id_return_time">
                Return time
            </label>
<input  id="id_return_time" class="timepickerinput form-control" type="time" name="return_time" style="width: 150px;display:inline-block;"> -->
        <div class="row body-scroll" >


            <div class="col-12" >
                <div class="align-items-center row">

                </div>

				  {% if  RideObj != None %}
                <div class="candidate-list" >

				{% csrf_token %}



					 {% for field in RideObj %}



                    <div class="candidate-list-box bookmark-post card mt-4"  id="allitems">
        
                        <div class="p-4 card-body">
                            <div class="align-items-center row">
                        
                                <div class="col-auto">
                                   
                                    <div id="avatarpic{{ field.creator.id }}" class="candidate-list-images" style="margin-left:20px">
                                            <img id="img{{ field.id}}" alt="avatar"  src="data:image;base64,{{ field.creator.profile.profile_pic | bin_2_img }}" class="avatar-md img-thumbnail rounded-circle" style="padding:0;border:none; width: 100%;"/>
                                        </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="candidate-list-content mt-3 mt-lg-0">
                                        <h5 class="fs-19 mb-0">
                                            <a class="primary-link" href="#">{{field.creator.first_name}} {{field.creator.last_name}}</a>
                                        </h5>

                                        <ul class="list-inline mb-0 text-muted">
                                            <li class="list-inline-item"><i class="mdi mdi-map-marker"></i> {{field.city}} , {{field.area}}</li>
                                        </ul>
										<ul class="list-inline mb-0 text-muted">
										 <li class="list-inline-item" id="departure"><i class="mdi mdi-calendar-clock" ></i> Departure : <span id="form_Date"> {{field.date |date:'Y-m-d'}} </span> at {{field.leave_time}} </li>

                                         {% if field.type != 'From Office' %}
                                         <li class="list-inline-item"><i class="mdi mdi-map-marker"></i>Pickup :  {{field.meeting_point}}</li>
                                         {% else  %}
                                         <li class="list-inline-item"><i class="mdi mdi-map-marker"></i>Drop :  {{field.meeting_point}}</li>
                                         {% endif %}
										 </ul>
										 {% if field.return_time %}
										 <ul class="list-inline mb-0 text-muted">
										 <li class="list-inline-item"><i class="mdi mdi-calendar-clock"></i> Return : {{field.return_time}} </li>
										 </ul>
										  {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                                                       <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1">
                                        <span class="badge bg-soft-secondary fs-14 mt-1">Car : {{field.car.Car_Manufacture}} {{field.car.Car_Color}} {{field.car.Car_Pallet_Number.Number}} {{field.car.Car_Pallet_Number.Letter_three}} {{field.car.Car_Pallet_Number.Letter_two}} {{field.car.Car_Pallet_Number.Letter_one}} </span>
										<span class="badge bg-soft-secondary fs-14 mt-1">Available Seats : {{field.no_of_seats}}</span>
										  {% if field.restrictions %}
										<span class="badge bg-soft-secondary fs-14 mt-1">Important: {{field.restrictions}}</span>
										 {% endif %}
										 <span class="rideid" hidden="">{{field.id}}</span>
                               
                                       

                                    </div>
                                      <span id="status{{ field.id }}" class="badge bg-soft-secondary fs-14 mt-1"></span>
                                </div>
                            </div>
                            <div class="favorite-icon">
                                <span> <button class="btn btn-primary" type="button" id="{{ field.id }}" onclick="myFunction('{{ field.id }}')">Book now</button></span>
                                <span> <button class="btn btn-danger" type="button" id="hidden{{ field.id }}" onclick="cancelFunction('{{ field.id }}','{{field.no_of_seats}')" >Cancel Request</button></span>
              

							</div>
                        </div>
                    </div>
					  {% endfor %}






                </div>
				 {% else  %}
				<div class="norides"  id="nrides2" style="padding-top: 50px;padding-bottom: 150px;"> <h1>No Available Rides ! </h1> </div>
				 {% endif %}

				 <div class="norides"  id="nrides" style="padding-top: 50px;padding-bottom: 150px;"> <h1>No Available Rides ! </h1> </div>

            </div>
        </div>

    </div>
	</form>
</section>

{% endblock content %}

{% block custom_scripts %}


{% endblock %}
