{% extends 'base.html' %}

{% load static crispy_forms_tags %}




{% block extra_head %}

<link rel="stylesheet" href="{% static 'home.css' %}" />

{% endblock extra_head %}




{% block content %}

<div class="container" {% if not messages %}id="regiseration-form"{% endif %}>
    <h1 id="register-title">My Rides:</h1>
    <a class="btn btn-primary" id="create_ride_btn" href="{% url 'website.ride' %}" style="display: block !important;"  >Add New Ride</a>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item myrides-tab">
            <a class="nav-link active" data-toggle="tab" href="#planned" role="tab">Planned Rides</a>
        </li>
        <li class="nav-item myrides-tab" id="planned_rides">
            <a class="nav-link" data-toggle="tab" href="#historical" role="tab">Historical Rides</a>
        </li>
    </ul><!-- Tab panes -->
    <div class="tab-content" style="border: none;">
        <div class="tab-pane active" id="planned" role="tabpanel">
            {% if object_list %}
            <table id="planned_rides_table" class="table tablesorter display" style="width:100%">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Area</th>
                        <th>Date</th>
                        <th>Leave Time</th>
                        <th>Return Time</th>
                        <th>Car</th>
                        <th>Seats</th>
                        <th>Ride Owner</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="table_body">
                    {% for ride in object_list %}
                    <tr>
                        <td><a href="#">{{ ride.type }}</a></td>
                        <td>{{ ride.area }}</td>
                        <td>{{ ride.date }}</td>
                        <td>{{ ride.leave_time }}</td>
                        <td>{{ ride.return_time }}</td>
                        <td>{{ ride.car.Car_Manufacture }} - {{ ride.car.Car_Color }}</td>
                        <td>{{ ride.no_of_seats }}</td>
                        <td>{% if ride.creator.first_name == user.first_name %} You {% else %} {{ ride.creator.first_name }} {% endif %}</td>
                        <td>{% if ride.creator.first_name == user.first_name %}
                            <a class="btn btn-success" href="{% url 'pages.update_ride' ride.pk %}">Edit</a>
                            <a class="btn btn-danger" onclick="return confirm('Are you sure you want to cancel this ride?')" href="{% url 'pages.cancel.ride' ride.pk %}">Cancel Ride</a>
                            {% else %}
                            <span> <button class="btn btn-danger" type="button" id="hidden{{ ride.pk }}" onclick="cancelFunction('{{ ride.id }}','{{ride.no_of_seats}')" >Cancel Request</button></span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                No planned rides yet.
            {% endif %}


        </div>
        <div class="tab-pane" id="historical" role="tabpanel">
            {% if historical_rides %}
            <table id="historical_rides_table" class="table tablesorter display" style="width:100%">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Area</th>
                        <th>Date</th>
                        <th>Leave Time</th>
                        <th>Return Time</th>
                        <th>Car</th>
                        <th>Seats</th>
                        <th>Ride Owner</th>
                    </tr>
                </thead>
                <tbody id="table_body">
                    {% for ride in historical_rides %}
                    <tr>
                        <td><a href="#">{{ ride.type }}</a></td>
                        <td>{{ ride.area }}</td>
                        <td>{{ ride.date }}</td>
                        <td>{{ ride.leave_time }}</td>
                        <td>{{ ride.return_time }}</td>
                        <td>{{ ride.car.Car_Manufacture }} - {{ ride.car.Car_Color }}</td>
                        <td>{{ ride.no_of_seats }}</td>
                        <td>{% if ride.creator.first_name == user.first_name %} You {% else %} {{ ride.creator.first_name }} {% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                No historical rides yet.
            {% endif %}
        </div>
    </div>


</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$(document).ready(function(){
    $("#planned_rides_table").dataTable();
    $("#historical_rides_table").dataTable();
});


function cancelFunction(url,seats) {

    if (seats == 0 ) {

    confirm("No seats available ")}

    else {

    if (confirm("Are you sure you want to cancel this ride request?!")) {
    window.location.href = '/cancelrides/'+url;
    } else {
    txt = "You pressed Cancel!";
    }
    }

};
</script>
{% endblock %}
