{% extends 'base.html' %}

{% load static crispy_forms_tags %}
{% load image_byte %}



{% block extra_head %}


<link rel="stylesheet" href="{% static 'home.css' %}" />
<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
{% endblock extra_head %}




{% block content %}

<style>
.btn{
    padding-top: 4px;
    padding-bottom: 4px;
}
.card-body{
    padding: 5px !important;
}
.list{
    font-size: 17px;
}
</style>
<title>My Rides</title>
<div class="container" {% if not messages %} id="regiseration-form" {% endif %}>
    
    <h1 id="register-title">My Rides:</h1>
    <a class="btn btn-primary" id="create_ride_btn" href="{% url 'website.ride' %}" style="display: block !important;"  >Add New Ride</a>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item myrides-tab">
            <a id="first-link" class="nav-link active header-link" data-toggle="tab" href="#planned" role="tab" style="border-right: none;  box-sizing: border-box;
            border: 2px solid black;">Planned Rides</a>
        </li>
        <li class="nav-item myrides-tab" id="planned_rides">
            <a id="second-link" class="nav-link header-link" data-toggle="tab" href="#historical" role="tab" style="background:#ff7900; box-sizing: border-box;
            border: 2px solid black;">Historical Rides</a>
        </li>
    </ul><!-- Tab panes -->
    <div class="tab-content" style="border: none; padding: 0px;">
        <div class="tab-pane active" id="planned" role="tabpanel">
            {% if object_list %}
                {% for ride in object_list %}
                <div class="candidate-list-box bookmark-post card mt-2">
                    <div class="p-3 card-body">
                        <div class="align-items-center row">
                            <div class="col-lg-2">
                                {% if ride.creator.profile.profile_pic %}
                                    <div id="avatarpic{{ ride.creator.id }}" class="candidate-list-images" style="margin-left:20px">
                                        <img alt="avatar"  src="data:image;base64,{{ ride.creator.profile.get_profile_picture_url | bin_2_img }}" class="avatar-md img-thumbnail rounded-circle" style="padding:0; border:none; width: 50%;"/>
                                    </div>
                                {% else %}
                                    <div id="avatarpic{{ ride.creator.id }}" class="candidate-list-images" style="margin-left:20px">
                                        <img src="{% static '../static/images/default_male_user.jfif' %}" alt="" class="avatar-md img-thumbnail rounded-circle" style="padding:0; border:none; width: 50%;"/>
                                    </div>
                                {% endif %}
                                    <div  id="loader{{ ride.creator.id }}" class="candidate-list-images" style='margin-left:20px;display:none;'>
                                        <img src="{% static '../static/images/orange_circles.gif' %}"  alt="" class="avatar-md img-thumbnail rounded-circle" style="padding:0;border:none; width: 50%;">
                                    </div>
                            </div>
                            <div class="col-lg-4" style="margin-left: -56px">
                                <h5 class="fs-19 mb-0">
                                    <a class="primary-link" style="font-size:20px;">{{ ride.creator.first_name }} {{ ride.creator.last_name }}</a>
                                </h5>
                                <ul class="list-inline mb-0 text-muted">
                                    <li class="list" title="City, area"><i class="mdi mdi-map-marker"></i> {{ride.city}}, {{ride.area}}</li>
                                    <li class="list" title="Date"><i class="mdi mdi-calendar" ></i><span id="form_Date"> {{ride.date |date:'Y-m-d'}} </span></li>
                                    <li class="list" title="Leave time"><i class="mdi mdi-arrow-right-bold" style="color: green;"></i>{{ride.leave_time}}</li>
                                    {% if ride.return_time %}
                                    <li class="list" title="Return time"><i class="mdi mdi-arrow-left-bold" style="color: red;"></i>{{ride.return_time}}</li>
                                    {% else %}
                                    <li class="list-inline-item" style="color: white;">.</li>
                                        {% endif %}
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <ul class="list-inline mb-0 text-muted">
                                    <li class="list-inline-item"></li>
                                    <li class="list" title="Car"><i class="mdi mdi-car"></i> {{ride.car.Car_Manufacture}} - {{ride.car.Car_Color}}</li>
                                    <li class="list" title="Pallet Number"><i class="mdi mdi-comment-text-outline"></i> {{ride.car.Car_Pallet_Number}}</li>
                                    <li class="list" title="Number of seats"><i class="mdi mdi-account-multiple"></i> {{ride.no_of_seats}}</li>
                                    {% if ride.restrictions %}
                                    <li class="list" title="Restrictions"><i class="mdi mdi-alert" style="color: orange;"></i> {{ride.restrictions}}</li>
                                    {% else %}
                                    <li class="list-inline-item" style="color: white;">.</li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="col-lg-2" style="margin-left: 40px;text-align: right;">
                                <ul class="list-inline mb-0 text-muted">
                                    <li class="list" style="font-size:22px;color:black;">
                                        {% if ride.creator.first_name == user.first_name %}
                                        <a class="btn btn-primary" id='link' href="/ride/{{ ride.id }}/passengers" style="width: 160px; margin-bottom: 5px;">Passengers</a>
                                        <a class="btn btn-primary" href="{% url 'pages.update_ride' ride.pk %}" style="width: 160px; margin-bottom: 5px;">Edit Ride</a>
                                        <span> <button class="btn btn-danger" type="button" id="register-submit" style="width: 160px;" onclick="show_confirmation_dialog('{{ ride.pk }}','ride','Are you sure you want to cancel your ride?','Cancel Ride Confirmation')">Cancel Ride</button></span>
                                        {% else %}
                                        <span> <button class="btn btn-danger" type="button" id="hidden{{ ride.pk }}" style="width: 160px;" onclick="show_confirmation_dialog('{{ ride.pk }}','request','Are you sure you want to cancel your ride request?','Cancel Request Confirmation')" >Cancel Request</button></span>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div> 
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <h1 style="margin-top: 50px;text-align: center;">No planned rides yet.</h1> 
            {% endif %}


        </div>
        <div class="tab-pane" id="historical" role="tabpanel">
            {% if historical_rides %}
                {% for ride in historical_rides %}
                <div class="candidate-list-box bookmark-post card mt-2">
                    <div class="p-3 card-body">
                        <div class="align-items-center row">
                            <div class="col-lg-2">
                                {% if ride.creator.profile.profile_pic %}
                                    <div id="avatarpic{{ ride.creator.id }}" class="candidate-list-images" style="margin-left:20px">
                                        <img alt="avatar"  src="data:image;base64,{{ ride.creator.profile.get_profile_picture_url | bin_2_img }}" class="avatar-md img-thumbnail rounded-circle" style="padding:0;border:none; width: 50%;"/>
                                    </div>
                                {% else %}
                                    <div id="avatarpic{{ ride.creator.id }}" class="candidate-list-images" style="margin-left:20px">
                                        <img src="{% static '../static/images/default_male_user.jfif' %}" alt="" class="avatar-md img-thumbnail rounded-circle" style="padding:0;border:none; width: 50%;"/>
                                    </div>
                                {% endif %}
                                    <div  id="loader{{ ride.creator.id }}" class="candidate-list-images" style='margin-left:20px;display:none;'>
                                        <img src="{% static '../static/images/orange_circles.gif' %}"  alt="" class="avatar-md img-thumbnail rounded-circle" style="padding:0;border:none; width: 50%;">
                                    </div>
                            </div>
                            <div class="col-lg-4" style="margin-left: -56px">
                                <h5 class="fs-19 mb-0">
                                    <a class="primary-link" style="font-size:20px;">{{ ride.creator.first_name }} {{ ride.creator.last_name }}</a>
                                </h5>
                                <ul class="list-inline mb-0 text-muted">
                                    <li class="list" title="City, area"><i class="mdi mdi-map-marker"></i> {{ride.city}}, {{ride.area}}</li>
                                    <li class="list" title="Date"><i class="mdi mdi-calendar" ></i><span id="form_Date"> {{ride.date |date:'Y-m-d'}} </span></li>
                                    <li class="list" title="Leave time"><i class="mdi mdi-arrow-right-bold" style="color: green;"></i>{{ride.leave_time}}</li>
                                    {% if ride.return_time %}
                                    <li class="list" title="Return time"><i class="mdi mdi-arrow-left-bold" style="color: red;"></i>{{ride.return_time}}</li>
                                    {% else %}
                                    <li class="list-inline-item" style="color: white;">.</li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <ul class="list-inline mb-0 text-muted">
                                    <li class="list-inline-item"></li>
                                    <li class="list" title="Car"><i class="mdi mdi-car"></i> {{ride.car.Car_Manufacture}} - {{ride.car.Car_Color}}</li>
                                    <li class="list" title="Pallet number"><i class="mdi mdi-comment-text-outline"></i> {{ride.car.Car_Pallet_Number}}</li>
                                    <li class="list" title="Number of seats"><i class="mdi mdi-account-multiple"></i> {{ride.no_of_seats}}</li>
                                    {% if ride.restrictions %}
                                    <li class="list" title="Restrictions"><i class="mdi mdi-alert" style="color: orange;"></i> {{ride.restrictions}}</li>
                                    {% else %}
                                    <li class="list-inline-item" style="color: white;">.</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div> 
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h1 style="margin-top: 50px;text-align: center;">No historical rides yet.</h1> 
            {% endif %}
        </div>
    </div>


</div>
<script>
$(document).ready(function(){
    $('.header-link').click(function(){
        $(this).css("background","white");
        if($(this).attr("id") == "second-link"){
            $("#first-link").css("background","#ff7900");
        }else{
            $("#second-link").css("background","#ff7900");
        } 
    });

    var paddT = $(".messages ").css('padding-top')
    console.log(paddT)
      //$("#content").css("padding-top", '7%');

      if (paddT == '100px') {  $("#content").css("padding-top", 0);}

      else { $("#content").css("padding-top", 100);}
 
   
});




function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});


function grabLink(event) {






     $.ajax({

      url: "/ride/passengers",


      type: "GET",




      success: function(response)
      {
        console.log(response)

        if (response.redirect){
location.href = response.redirect;
}
            // it will update the html of table body
          //$("#passengers_form").load(location.href + " #passengers_form");
      }
    });

}

  // $('#link').click(grabLink)

async function show_confirmation_dialog(ride_id,action,msg,label){
    modal = $('#confirmation_modal')
    modal.modal('show')
    document.getElementById('content_msg').innerHTML = msg
    document.getElementById('confirmation_modalLabel').innerHTML = label

    await hide_modal();
    if(action == "ride"){
        window.location.href = window.location.origin + '/rides/'+ ride_id + '/cancel';
    }
    else{
        window.location.href = window.location.origin + '/cancelrides/'+ride_id;
    }
}

  function hide_modal() {
    return new Promise((resolve) =>
      $("#modal-btn-confirm").on("click", () => {
        $(".modal").modal("hide");
        resolve();
      }),
    );
  }

</script>

<div id="confirmation_modal"  class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="confirmation_modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="margin-top: 10px;">
                <h3 class="modal-title" id="confirmation_modalLabel">Cancel Ride Confirmation</h3>
            </div>
            <div class="modal-body" style="font-size: 20px;" id="content_msg">
            </div>
            <div class="modal-footer" id="confirm">
                <button type="button" class="btn btn-secondary" id="modal-btn-cancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary"   id="modal-btn-confirm">Confirm</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
