{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'home.css' %}" />
{% endblock extra_head %}


{% block content %}
<style>.wrapper {
  display: flex
}

.spacing {
  padding: 15px;
}
</style>
<script>
function myFunction(url) {

  if (confirm("Are you sure you want to delete ?!")) {
     window.location.href = '/DeleteCar/'+url;
  } else {
    txt = "You pressed Cancel!";
  }

}
</script>
<title>Cars</title>
<div class="container"                       id="regiseration-form">
    <div class="row">
        <h1 id="register-title">Registered  Cars</h1>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <form method="POST">
			{% csrf_token %}
			{% if carObj != 'carObj' %}
                                    <ol class="list-group">
                        {% for field in carObj %}
                        <li class="d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div ><h5>Car Model : {{field.Car_Manufacture}}</h5></div>
                             <div ><h5>Number : {{field.Car_Pallet_Number}} </h5> </div>
                          </div>
						  <div class="ms-2 me-auto wrapper" >

                          <span> <button class="btn btn-primary" type="button" id="edit-submit" onclick="location.href = '/UpdateCar/{{ field.CarReg_id }}'" style="margin-right:5px">Edit</button></span>
                          <span> <button class="btn btn-primary" type="button" id="register-submit" onclick="myFunction('{{ field.CarReg_id }}')">Delete</button></span>
                          </div>
						</li>
                        {% endfor %}
                    </ol>

                    {% endif %}

            </form>
            <button class="btn btn-primary" type="submit" id="addNewCar"  onclick="location.href = '/carreg'" >Add New Car</button>

        </div>

        <div class="col-sm-6">

            <img alt="CarPool" style="width: inherit;" src="{% static '../static/images/cars.png' %}">
        </div>
    </div>
</div>
{% endblock %}
