{% extends 'base.html' %}

{% load static crispy_forms_tags %}

{% block extra_head %}

<link rel="stylesheet" href="{% static 'home.css' %}" />
<link rel="stylesheet" href="{% static 'css/passengers.css' %}" />
<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="{% static '/js/passengers.js' %}" ></script>

{% endblock extra_head %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>



<section class="section">

    <div class="container">
    <form action="/requests"  id="passengers_form">
        <div class="filler-job-form">
            <i class="uil uil-location-point"></i>
            <div class="row body-scroll" style="" >
                <div class="col-12" >
                    <div class="align-items-center row">  {% csrf_token %}
                </div>
                {% if  RidesBooked != None %}
                <div class="passengers-list">
                    {% for passenger in RidesBooked %}
                        <div class="candidate-list-box bookmark-post card mt-2"  id="passengers_cad_{{ passenger.id }}">
                            <div class="p-3 card-body">
                                <div class="align-items-center row">
                                    <div class="col-lg-2">
                                        {% if  passenger.Requestor_id.profile.gender == 'Male' %}
                                            <div class="candidate-list-images" style="margin-left:20px">
                                                <img src="{% static '../static/images/default_male_user.jfif' %}" alt="" class="avatar-md img-thumbnail rounded-circle" style="padding:0;"/>
                                            </div>
                                        {% else %}
                                            <div class="candidate-list-images" style="margin-left:20px">
                                                <img src="{% static '../static/images/default_female_user.jfif' %}" alt="" class="avatar-md img-thumbnail rounded-circle" style="padding:0;"/>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-4">
                                        <h3 class="fs-19 mb-0">{{passenger.Requestor_id.first_name}} {{passenger.Requestor_id.last_name}}</h3>
                                        <ul class="list-inline mb-0 text-muted" style="margin-top:10px;font-size:14">
                                            <li class="list-inline-item" style="font-size:22px"><i class="mdi mdi-phone"></i>{{passenger.Requestor_id.profile.phone}}</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-2">
                                        <ul class="list-inline mb-0 text-muted">
                                            <li id="passenger_status_{{ passenger.id }}" name="passenger_status" class="list-inline-item status   {{ passenger.status|lower}}" style="font-size:22px;font-weight:600;">{{passenger.status}}</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3">
                                        {% if  passenger.comment and passenger.comment != "comment" %}
                                        <div style="width: 125%;display: flex;justify-content: space-around;">
                                           <ul class="list-inline mb-0 text-muted">
                                            <li class="list-inline-item" style="font-size:18px;color:black;">{{passenger.comment}}</li>
                                        </ul>
                                        </div>
                                        {% endif %}

                                        {% if  passenger.status|lower == "pending" %}
                                        <div style="width: 125%;display: flex;justify-content: space-evenly;padding-bottom: 17px;">
                                            <button class="btn btn-primary" type="button" id="accept{{ passenger.id }}" onclick="show_confirmation_dialog('Accept Request','Are you sure to accept request from {{passenger.Requestor_id.first_name}} {{passenger.Requestor_id.last_name}}','accept','{{passenger.RideRequested_id.id}}' ,'{{passenger.Requestor_id.id}}')">Accept</button>
                                            <button class="btn btn-danger"  type="button" id="reject{{ passenger.id }}" onclick="show_confirmation_dialog('Reject Request','Are you sure to reject request from {{passenger.Requestor_id.first_name}} {{passenger.Requestor_id.last_name}}','reject','{{passenger.RideRequested_id.id}}' ,'{{passenger.Requestor_id.id}}')">Reject</button>
                                        </div>
                                        {% endif %}
                                        {% if  passenger.status|lower == "accepted" %}
                                        <div style="width: 125%;display: flex;justify-content: space-around;padding-bottom: 17px;">
                                            <button class="btn btn-danger"  type="button" id="cancel{{ passenger.id }}" onclick="show_confirmation_dialog('Cancel Request','Are you sure to cancel request from {{passenger.first_name}} {{passenger.last_name}}','cancel','{{passenger.RideRequested_id.id}}' ,'{{passenger.Requestor_id.id}}')" style="width: inherit;margin-left: 30px;margin-right: 30px;">Cancel Request</button>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% else  %}
				<div id="no_passengers_found" style="height: 20vh;display: flex;justify-content: space-evenly;align-items: center;"> <h1>{{ message }}</h1> </div>
                {% endif %}
                </div>
            </div>
        </div>
    </form>
    </div>
</section>


<div id="confirmation_modal"  class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="confirmation_modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="margin-top: 10px;">
                <h3 class="modal-title" id="confirmation_modalLabel"></h3>
            </div>
            
            <div class="modal-body" style="font-size: 20px;">
                

            </div>
            <div id="comment " style="padding-top: 20px;">
                
            <span  id="reasonl"><label  id="reasonl" for="ocap" style="padding-top: 20px;"> Comment :</label></span>
            <span><textarea id="reason" name="reason" rows="2" cols="30">
                </textarea></span>

           

        </div>
            
            <div class="modal-footer" id="confirm">
                <button type="button" class="btn btn-secondary" id="modal-btn-cancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary"   id="modal-btn-confirm">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block custom_scripts %}


{% endblock %}