{% extends 'base.html' %}

{% load static crispy_forms_tags %}
{% load image_byte %}




{% block extra_head %}

<link rel="stylesheet" href="{% static 'home.css' %}" />

{% endblock extra_head %}




{% block content %}

<div class="container" id="regiseration-form">

    <div class="row">

        <h1 id="register-title">Complete your Profile</h1>

    </div>

    <div class="row">

        <div class="col-sm-6">

            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="row">

                {% for field in user_form %}

                {% if forloop.counter|divisibleby:2 %}

                <div class="col-sm-6">

                    {{ field |as_crispy_field}}

                </div>

                {% else %}

                <div class="col-sm-6">

                    {{ field |as_crispy_field}}

                </div>

                {% endif %}

                {% endfor %}




                {% for field in profile_form %}

                {% if forloop.counter|divisibleby:2 %}

                <div class="col-sm-6">

                    {{ field |as_crispy_field}}

                </div>

                {% else %}

                <div class="col-sm-6">

                    {{ field |as_crispy_field}}

                </div>

                {% endif %}

                {% endfor %}

                </div>

                <button class="btn btn-primary" type="submit" id="register-submit">Submit</button>


        </div>

        <div class="col-sm-6">

           {% if request.user.profile.is_profile_uploaded %}
   <div class="form-group col-8">
          <img id="preview"  alt="Embedded Image"  style="width: 17rem;height:29vh;margin-inline: 3.3rem;padding:0;border:none;" src="data:image;base64,{{ request.user.profile.get_profile_picture_url | bin_2_img }}"  class="avatar-md img-thumbnail rounded-circle "/>

         <label for="profile_picture">Profile Picture</label>
       <input id="profile_picture" name="profile_picture" type="file" class="form-control" style="margin-bottom:2rem;padding:5px" />
            {% else %}
               <div class="form-group col-8">
            <img id="preview" style="width: 17rem;height:29vh;margin-inline: 3.3rem;padding:0;border:none;" src="{% static 'images/male.jfif' %}" class="avatar-md img-thumbnail rounded-circle">

         <label for="profile_picture">Profile Picture</label>
       <input required id="profile_picture" name="profile_picture" type="file" class="form-control" style="margin-bottom:2rem;padding:5px" />
   </div>
            {% endif %}

        </div>
            </form>

    </div>

</div>
<script>
      const imgInp = document.getElementById("profile_picture");
      const preview = document.getElementById("preview");

imgInp.onchange = evt => {
  const [file] = imgInp.files
  if (file) {
    preview.src = URL.createObjectURL(file)
  }
}
</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function(){
        var context =   "{{ context }}";
        var areas =  {% autoescape off %}{{ areas }}{% endautoescape %};
        var cities =  {% autoescape off %}{{ cities }}{% endautoescape %};

        if (context=="edit"){
            var user_area = "{{ user_area }}";
            var user_city = "{{ user_city }}";

            $('#cities').empty();

            for(index in cities){

                var $option = $("<option>", {

                    text: cities[index]["governorate_name_en"] ,

                    value: cities[index]["id"]

                });

                $option.appendTo('#cities');

            }
            $("#cities").html($("#cities option").sort(function (a, b) {
                return a.text == b.text ? 0 : a.text < b.text ? -1 : 1
            }));

            $("#cities").prepend("<option value=''>Choose City</option>").val('');

            $("#cities option:contains("+user_city+")").prop("selected","selected");
            change_areas();
            $("#areas option:contains("+user_area+")").prop("selected","selected");

        }else if(context=="create"){

            $('#cities').empty();

            for(index in cities){

                var $option = $("<option>", {

                    text: cities[index]["governorate_name_en"] ,

                    value: cities[index]["id"]

                });

                $option.appendTo('#cities');

            }
            $("#cities").html($("#cities option").sort(function (a, b) {
                return a.text == b.text ? 0 : a.text < b.text ? -1 : 1
            }));

            $("#cities").prepend("<option value=''>Choose City</option>").val('');

            change_areas();

        }
    });

    var areas =  {% autoescape off %}{{ areas }}{% endautoescape %};

    function change_areas(){

        city_id = $('#cities').val();

        $('#areas').empty();

        for(index in areas){

            if(areas[index]["governorate_id"] == city_id){

                var $option = $("<option>", {

                    text: areas[index]["city_name_en"],

                    value: areas[index]["id"]

                });

                $option.appendTo('#areas');

            }

        }


        $("#areas").html($("#areas option").sort(function (a, b) {
                return a.text == b.text ? 0 : a.text < b.text ? -1 : 1
            }));

        $("#areas").prepend("<option value=''>Choose Area</option>").val('');
        $("#profile_picture").on("change", function (e) {

    var count=1;
    var files = e.currentTarget.files; // puts all files into an array

    // call them as such; files[0].size will get you the file size of the 0th file
    for (var x in files) {

        var filesize = ((files[x].size/1024)/1024).toFixed(4); // MB

        if (files[x].name != "item" && typeof files[x].name != "undefined" && filesize <= 10) {

            if (count > 1) {

                approvedHTML += ", "+files[x].name;
            }
            else {

                approvedHTML += files[x].name;
            }

            count++;
        }
    }
    $("#alert").append(approvedHTML);

});
    }

</script>

{% endblock %}
