{% extends 'base.html' %}

{% load static crispy_forms_tags %}




{% block extra_head %}

<link rel="stylesheet" href="{% static 'home.css' %}" />

{% endblock extra_head %}




{% block content %}

<div class="container" id="regiseration-form">

    <div class="row">

        <h1 id="register-title">Complete your Profile</h1>

    </div>

    <div class="row">

        <div class="col-sm-6">

            <form method="POST">

                {% csrf_token %}

                <div class="row">

                {% for field in user_form %}

                {% if forloop.counter|divisibleby:2 %}

                <div class="col-sm-6">

                    {{ field |as_crispy_field}}

                </div>

                {% else %}

                <div class="col-sm-6">

                    {{ field |as_crispy_field}}

                </div>

                {% endif %}

                {% endfor %}




                {% for field in profile_form %}

                {% if forloop.counter|divisibleby:2 %}

                <div class="col-sm-6">

                    {{ field |as_crispy_field}}

                </div>

                {% else %}

                <div class="col-sm-6">

                    {{ field |as_crispy_field}}

                </div>

                {% endif %}

                {% endfor %}

                </div>

                <button class="btn btn-primary" type="submit" id="register-submit">Submit</button>

            </form>

        </div>

        <div class="col-sm-6">

            <img alt="CarPool" style="width: inherit;" src="{% static 'images/hello.png' %}">

        </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function(){
        var context =   "{{ context }}";
        var areas =  {% autoescape off %}{{ areas }}{% endautoescape %};
        var cities =  {% autoescape off %}{{ cities }}{% endautoescape %};

        if (context=="edit"){
            var user_area = "{{ user_area }}";
            var user_city = "{{ user_city }}";

            $('#cities').empty();

            for(index in cities){

                var $option = $("<option>", {

                    text: cities[index]["governorate_name_en"] ,

                    value: cities[index]["id"]

                });

                $option.appendTo('#cities');

            }
            $("#cities").html($("#cities option").sort(function (a, b) {
                return a.text == b.text ? 0 : a.text < b.text ? -1 : 1
            }));

            $("#cities").prepend("<option value=''>Choose City</option>").val('');

            $("#cities option:contains("+user_city+")").prop("selected","selected");
            change_areas();
            $("#areas option:contains("+user_area+")").prop("selected","selected");

        }else if(context=="create"){

            $('#cities').empty();

            for(index in cities){

                var $option = $("<option>", {

                    text: cities[index]["governorate_name_en"] ,

                    value: cities[index]["id"]

                });

                $option.appendTo('#cities');

            }
            $("#cities").html($("#cities option").sort(function (a, b) {
                return a.text == b.text ? 0 : a.text < b.text ? -1 : 1
            }));

            $("#cities").prepend("<option value=''>Choose City</option>").val('');

            change_areas();

        }
    });

    var areas =  {% autoescape off %}{{ areas }}{% endautoescape %};

    function change_areas(){

        city_id = $('#cities').val();

        $('#areas').empty();

        for(index in areas){

            if(areas[index]["governorate_id"] == city_id){

                var $option = $("<option>", {

                    text: areas[index]["city_name_en"],

                    value: areas[index]["id"]

                });

                $option.appendTo('#areas');

            }

        }


        $("#areas").html($("#areas option").sort(function (a, b) {
                return a.text == b.text ? 0 : a.text < b.text ? -1 : 1
            }));

        $("#areas").prepend("<option value=''>Choose Area</option>").val('');

    }

</script>

{% endblock %}
