{% extends 'base.html' %}

{% load static crispy_forms_tags %}




{% block extra_head %}

<link rel="stylesheet" href="{% static 'home.css' %}" />

{% endblock extra_head %}




{% block content %}

<div class="container" id="regiseration-form">

    <div class="row">

        <h1 id="register-title">Ready to Share a Ride?</h1>

    </div>

    <div class="row">

        {% if context == 'create' %}<h3>Please Fill in Your Ride Details:</h3>{% endif %}

        {% if context == 'edit' %}<h3>Edit Your Ride:</h3>{% endif %}

    </div>

    <div class="row">

        <div class="col-sm-6">

            <form method="POST">

                {% csrf_token %}

                <div class="row">

                    {% for field in form %}

                    {% if forloop.counter|divisibleby:2 %}

                    <div class="col-sm-6">

                        {{ field |as_crispy_field}}

                    </div>

                    {% else %}

                     
                    <div class="col-sm-6">
                   

                   

                        {{ field |as_crispy_field}}

                    </div>

                    {% endif %}

                    {% endfor %}
                </div>
                    <button class="btn btn-primary" type="submit" id="register-submit">Submit</button>
             

            </form>

        </div>

        <div class="col-sm-6">

            <img alt="CarPool" style="width: inherit;" src="{% static 'images/carPooling.jpg' %}">

        </div>

    </div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function(){
        var user_area = "{{ user_area }}";
        var user_city = "{{ user_city }}";
        $("#city option:contains("+user_city+")").prop("selected","selected")
        change_areas();
        $("#area option:contains("+user_area+")").prop("selected","selected")


        $('#div_id_return_time').hide();
        $('#id_car').find('option').get(0).remove();
        $("#div_id_meeting_point").find("label[for=id_meeting_point]").text("Pick up Point");
        $("#div_id_city").find("label[for=city]").text("Pick up City");
        $("#div_id_area").find("label[for=area]").text("Pick up Area");

        $('#id_ride_type').on('change', function (e) {
            if($('#id_ride_type').find(":selected").text() == "To Office"){
                $('#div_id_return_time').hide();
                $("#div_id_meeting_point").find("label[for=id_meeting_point]").text("Pick up Point");
                $("#div_id_city").find("label[for=city]").text("Pick up City");
                $("#div_id_area").find("label[for=area]").text("Pick up Area");
            }else if($('#id_ride_type').find(":selected").text() == "From Office"){
                $('#div_id_return_time').hide();
                $("#div_id_meeting_point").find("label[for=id_meeting_point]").text("Drop off Point");
                $("#div_id_city").find("label[for=city]").text("Drop off City");
                $("#div_id_area").find("label[for=area]").text("Drop off Area");
                }else if($('#id_ride_type').find(":selected").text() == "2-Way Ride"){
                $('#div_id_return_time').show();
                $("#div_id_meeting_point").find("label[for=id_meeting_point]").text("Pick up Point");
                $("#div_id_city").find("label[for=city]").text("Pick up City");
                $("#div_id_area").find("label[for=area]").text("Pick up Area");            
            }
        });
    });

    var areas =  {% autoescape off %}{{ areas }}{% endautoescape %};

    function change_areas(){

        city_id = $('#city').val();

        $('#area').empty();

        var $option = $("<option>", {

            text: "Choose Area",

            value: "",

            selected: "selected"

        });

        $option.appendTo('#area');

        for(index in areas){

            if(areas[index]["governorate_id"] == city_id){

                var $option = $("<option>", {

                    text: areas[index]["city_name_en"],

                    value: areas[index]["id"]

                });

                $option.appendTo('#area');

            }

        }

    }

 </script>
{% endblock %}
